@font-face {
    font-family: "HK Grotesk";
    src: url("hk-grotesk/HKGRotesk-Medium.otf");
}

#app {
    text-align: center;
    font-family: "HK Grotesk";
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 16px;
    font-family: "HK Grotesk";
}

.item-input {
    border-bottom: 0px !important;
    margin-bottom: 8px;
}

.green {
    color: #5cb85c;
}

.pretty {
    /* Overwrite pretty checkmark CSS margin-right */
    margin-right: 0;
}

.strike {
    text-decoration: line-through;
    color: #5cb85c;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.round-btn {
    border-radius: 100%;
}

